/*****************
THEME
*****************/
$blue: #003057;
$sky-blue: #41b6e6;
$red: #e4002b;
$text-color: $blue;

/*****************
COMMON
*****************/
$white: #ffffff;
$black: #000000;
$gray: #4e4e4e;
$gray-2: #bbb5bd;
$dark-gray: #2e2e2e;
$light-gray: #bebebe;
$light-gray-2: #e2e2e2;
$light-gray-3: #f6f6f6;
$light-purple: #8a4483;
$purple: #6a2963;
$dark-purple: #491058;

/*****************
CUSTOM
*****************/
  $green: #46d369;
  $orange: #ed7f00;
  $font-family: 'Roboto', sans-serif;

  $bg-body: #222;
  $color-body: #fff;

  $black-9: #999;
  $black-3: #333;
  $black-1: #111;
  $black-0: #000;
  $black-14: #141414;
  $black-23: #232323;

  $bg-gray: #ececec;
  $bg-gray-1: #ccc;
  $bg-black: rgba(0, 0, 0, .5);
  $bg-gradient-horizontal: linear-gradient(to top, #212529 10%, transparent 90%);
$bg-gradient-left: linear-gradient(to right, rgba(33, 37, 41, 0.9) 15%, transparent 85%);

