body,
input,
button,
div {
	font-family: "Open Sans", sans-serif;
}

html,
body {
	height: 100%;
}

body {
	overflow-x: hidden;
}

.cursor-pointer {
	cursor: pointer !important;
}

strong {
	font-weight: 700 !important;

	* {
		font-weight: 700 !important;
	}
}

p {
	font-size: 1.1em;
}

h1 {
	font-size: 2.6em;

	@media (max-width: 992px) {
		font-size: 2em;
	}
}

body[data-aos-easing="ease-out-back"] [data-aos] {
	transition-timing-function: cubic-bezier(0.22, 0.68, 0, 1.21) !important;
	transition-duration: 2s !important;
}

.bg {
	@include color-modifiers-bg;
}

.text {
	@include color-modifiers-text;
}

.btn {
	@include color-modifiers-btn;
}

.box-wave-shadow {
	@include color-modifiers-box-wave-shadow;
}